<h2>{{cat.name | uppercase}} Details</h2>
<!--Pipes are used to format strings, currency, and other forms of
data in HTML.  Here we use an UpperCase Pipe -->

<!--ngModel is Angular's 2-way data binding syntax-->
<div>
    <label> name:
        <input [(ngModel)]="cat.name" placeholder="enter a name"/>
    </label>
</div>

<div><span>id: </span>{{cat.id}}</div>
<div><span>name: </span>{{cat.name}}</div>
<!--This will display whatever property I've set equal to cat
in my cats.component.ts file-->

<!--We have updated the binding in the template to announce both
the name and id-->

