<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ServletDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- The deployment descriptor is also called the web.xml file and 
  it is used to configure our servlets and map them to specific paths/URLS -->
  
  <!-- With the servlet tag, we define a servlet for the web container to use. -->
  <servlet>
  <!-- Identifies the servlet internally -->
  	<servlet-name>Hello</servlet-name>
  	<!-- Defines what class the servlet should be -->
  	<servlet-class>com.revature.servlets.HelloServlet</servlet-class>
  </servlet>
  
  <!-- Map a specific servlet to a url -->
  <servlet-mapping>
  	<servlet-name>Hello</servlet-name>
  	<!-- url pattern indicates the endpoint out server maps -->
  	<url-pattern>/hello</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>






