<div>
    <div class="panel-heading">
        <span class="label label-default label-center">{{title}}</span>
    </div>

    <div class="panel-body">
        <img class="image-center" src={{image}} />
        <div class="list-group">
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                <strong>Find</strong> a superhero.
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                <strong>Register</strong> a superhero.
            </div>
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                <strong>Fetch</strong> all superheroes.
            </div>
        </div>
    </div>
</div>