  <!--Below is an example of Interpolation Binding
  We are surrounding the title property in curly braces and featuring it in our application shell's html template.-->
  <h1>{{title}}</h1>
  <nav>
    <a routerLink="/cats">Cats!</a>
    <a routerLink="/dashboard">Dashboard</a>
  </nav>
  <router-outlet></router-outlet>
 <!--The Router-Outlet directive is available from the Router library.  This acts as aplaceholder that NG is going to dynamically fill based on the current router state.-->
  <app-messages></app-messages>

